# compiled output
/dist
/node_modules
.env
ormconfig.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/.clinic

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test
src/database/migration/1652267682043-IvfEmbryoAssessment.ts
src/database/migration/1652267709713-IvfEmbryologyEntity.ts
src/database/migration/1652267733874-IvfTreatmentEntity.ts
src/database/migration/1652267752776-IvfSpermPreparationEntity.ts
src/database/migration/1652267767438-IvfICSIEntity.ts
src/database/migration/1652267785249-IvfEmbryoTransfer.ts
src/database/migration/1652267807776-IvfEmbryoTransferRecord.ts
src/modules/patient/ivf/embryology/
